<div class="left">
  <div class="filter">
    {{#each PostalCode.all as |code|}}
      {{code}}
    {{/each}}
  </div>
  <div class="map-details">
    {{!-- <h5>Map Details</h5> --}}
    {{#unless somethingSelected}}
      <div class="select-warn-box">
        <div class="inner">
          Select a house or postal code for details
        </div>
      </div>
    {{/unless}}
    {{#if activePostalCode}}
      <div class="details">
        <p><strong>Postal Code</strong> {{activePostalCode.code}}</p>
        <p><strong>Average Elevation</strong> {{activePostalCode.avgElevation}}</p>
        <p><strong>Average Savings</strong> ${{activePostalCode.avgSavings}}</p>
        <p><strong>Average Solar Power</strong> {{activePostalCode.avgSolarPower}}</p>
        <p><strong>Average House Size</strong> {{activePostalCode.avgHouseSize}} sqr ft</p>
        <p><strong>Average House Age</strong> {{activePostalCode.avgAge}} years</p>
        <p><strong>Average Roof Pitch</strong> {{activePostalCode.avgRoofPitch}}</p>
        <p><strong>Average Azimuth</strong> {{activePostalCode.avgAzimuth}} degrees</p>
        <p><strong>Average Electricity Consumption</strong> {{activePostalCode.avgElectricityConsumption}}</p>
        <p><strong>Average Water Consumption</strong> {{activePostalCode.avgWaterConsumption}}</p>
        <p><strong>Most Common Conventional System</strong> {{activePostalCode.mostCommonConventionalSystem}}</p>
        <p><strong>Most Common Solar System</strong> {{activePostalCode.mostCommonSolarSystem}}</p>
        <p><strong>Most Common Installation Type</strong> {{activePostalCode.mostCommonInstallationType}}</p>
      </div>
    {{/if}}
    {{#if activeHouse}}
      <div class="details">
        <div class="details">
          <p><strong>ID</strong> {{activeHouse.id}}</p>
          <p><strong>Elevation</strong> {{activeHouse.elevation}}</p>
          <p><strong>Size</strong> {{activeHouse.size}} sqr ft</p>
          <p><strong>Age</strong> {{activeHouse.age}} years</p>
          <p><strong>Roof Pitch</strong> {{activeHouse.roofPitch}}</p>
          <p><strong>Azimuth</strong> {{activeHouse.azimuth}} degrees</p>
          <p><strong>Average Solar Power</strong> {{activeHouse.avgSolarPower}}</p>
          <p><strong>Electricity Consumption</strong> {{activeHouse.electricityConsumption}}</p>
          <p><strong>Water Consumption</strong> {{activeHouse.waterConsumption}}</p>
          <p><strong>Conventional System</strong> {{activeHouse.conventionalSystem}}</p>
          <p><strong>Solar System</strong> {{activeHouse.systemType}}</p>
          <p><strong>Installation Type</strong> {{activeHouse.installationType}}</p>
        </div>
      </div>
    {{/if}}
  </div>
</div>

<div class="right">
    {{google-map}}
</div>
